
	.header-footer {
		text-align: center;
		background-color: #607D8B;
		padding: 30px;
		font-family: 'Noto Sans', sans-serif;

}
	header{
		color: #ccc;
	}
	body{
		margin: 0px;
		background-color: #E0F7FA;
	}

	section > div{
		background-color: #80DEEA;
		margin: 30px;
		padding: 30px;
		border-radius: 30px;
		font-family: 'Noto Sans', sans-serif;
	}
	header>img{
		border-radius: 50%;
	}

	
